body{
    background-color: #f6f6f6;
    min-height:100%;
    color: #2b577a;
    font-family:-apple-system,Helvetica,'Hiragino Sans GB W3',arial,sans-serif;
    line-height: 1;
}
article.page_container{
    padding-top: 40px;
    padding-bottom: 10px;
}
header.fb_trip_header_wrap{
	position: fixed;
	width: 100%;
	height: 1.111111111rem;
	z-index: 40;
	left: 0;
	top: 0;
}
header.fb_trip_header_wrap{
	width: 100%;
	height: 1.111111111rem;
	padding: 0.138888888rem 0 0.138888888rem 0.4rem;
	display: -webkit-box;
	-webkit-box-align: center;
	font-size: 0.361111111rem;
	box-sizing: border-box;
	background: #ffc900;
	background-size: 0.05333rem 1.6rem;
	-webkit-transition:background-color .25s linear 0s;
	z-index: 40;
}
header.fb_trip_header_wrap .fb_trip_user{
	min-width: 1.04rem;
	height: 100%;
	display: -webkit-box;
	background-repeat: no-repeat;
	position: relative;
	color: #333;
	background-image: url('../images/fiybig/user.png');
	background-position: 0 0.166666666rem;
	background-size: 0.527777777rem 0.555555555rem;
} 
header.fb_trip_header_wrap .fb_trip_research{
	-webkit-box-flex: 1;
	height: 100%;
	position: relative;
	overflow: hidden;
}
header.fb_trip_header_wrap .fb_trip_research p{
	height: 100%;
	display: -webkit-box;
	-webkit-box-align: center;
	box-sizing: border-box;
	font-size: 0.388888888rem;
	padding-left: 0.861111111rem;
	padding-right: 0.222222222rem;
	background: url('../images/fiybig/rearch.png');
	background-size: 15px auto;
	color: rgba(61,61,61,0.5);
	background-color: hsla(0,0%,100%,0.9);
	background-repeat: no-repeat;
	background-position:0.305555555rem 0.25rem;
	border-radius: 0.333333333rem 0 0.333333333rem 0.333333333rem;
}
header.fb_trip_header_wrap .fb_trip_research p span{
	position: relative;
	display: block;
	height: 0.444444444rem;
	line-height: 0.444444444rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-box-flex: 1;
}
header.fb_trip_header_wrap .fb_trip_location{
	width: 0.638888888rem;
	height:0.638888888rem;
	padding: 0.083333333rem;
	margin-left: 0.166666666rem;
	margin-right: 0.083333333rem;
	line-height: 1.111111111rem;
	text-align: center;
}
header.fb_trip_header_wrap .fb_trip_location img{
	width: 100%;
	height: 120%;
	vertical-align: middle;
}


/*banner开始*/
.banner{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.banner ul.ImgUl{
	width:700%;
	
}
.banner ul.ImgUl li{
	width: 14.28571429%;
	float: left;
}
.banner ul.ImgUl li a{
	width: 100%;
	height: 100%;	
}
.banner ul.ImgUl li a img{
	width: 100%;
	height: 100%;	
}
.banner ul.points{
	position: absolute;
	right: 0.222222222rem;
	bottom: 0.3rem;
}
.banner ul.points li{
	background-color: hsla(0,0%,100%,.6);
	/*background: yellow;*/
	width:0.16rem;
	height: 0.16rem;
	border-radius: 50%;
	margin: 0 0.055555555rem;
	-webkit-border-radius:50%;
	float: left;
}
.banner ul.points li.now{
	background-color: rgba(255,195,0,0.5);
	margin: 0 0.053333rem;
	width: 0.24rem;
	border-radius: 30%;
	-webkit-transition:all .2s linear 0s;
}
.banner i.bg_banner{
	display: block;
	width: 100%;
	background-image: url('../images/fiybig/hubian.png');
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0.222222222rem;
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
/*banner结束*/
nav#fb_nav{
	width: 100%;
	overflow: hidden;
	background: #FFFFFF;
	padding-bottom: 0.277777777rem;
}
nav#fb_nav ul{
	width: 100%;
}
nav#fb_nav ul li{
	float: left;
	text-align: center;
	width: 20%;
}
nav#fb_nav ul li a{
	width: 100%;
	height: 100%;
}
nav#fb_nav ul li a img{
	width: 100%;
	height: 100%;
}

/*出境超市开始*/
section.market{
	background: #FFFFFF;
}
section.market header{
	background-image: url('../images/fiybig/bgshop.webp');
	background-size: 100% 100%;
	display: -webkit-box;
	-webkit-box-align: center;
	padding-left: 0.32rem;
	height: 1.04rem;
	background-repeat: no-repeat;
}
section.market header div.market_logo{
	width: 1.73333rem;
	height: 0.4rem;
	margin-right: 0.32rem;
	margin-left: 0.16rem;
	background-position: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../images/fiybig/shopchujing.png');
}
section.market header p{
	-webkit-box-flex: 1;
	color: #a5a5a5;
	font-size: 0.29333rem;
}
section.market header span{
	display: -webkit-box;
	-webkit-box-align: center;
	color: #3d3d3d;
	padding: 0 .6rem;
	font-size: 0.32rem;
	position: relative;
}
section.market header span em{
	display: block;
	font-weight: 400;
	font-style: normal;
	position: relative;
}
section.market header span em:after{
	content: "";
	display: block;
	background: url('../images/fiybig/xiangyou.png') 100% no-repeat;
	background-size: 0.32rem 0.32rem;
	height: 0.32rem;
	width: 0.32rem;	
	position: absolute;
	right: -0.277777777rem;
	top: -0.027777777rem;
}
/*出境超市结束*/

/*出境超市nav开始*/
section.market_nav{
	color: #666;
	background: #FFFFFF;
	padding-left: .32rem;
	height: 2.08rem;
	background-size: 100% 100%;
	background-image: url('../images/fiybig/chaoshinav.webp');
}
section.market_nav ul{
	height: 1.84rem;
	margin-bottom: 0.24rem;
}
section.market_nav ul li{
	float: left;
	width: 2.16rem;
	height: 0.8rem;
	margin-right: 0.24rem;
	line-height: 0.8rem;
	margin-bottom: 0.24rem;
	text-align: center;
	border-radius: 1.33333rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #666;
	font-weight: 400;
	position: relative;
	font-size: 0.32rem;
}
/*出境超市nav结束*/

/*旅游头条开始*/
section.trip_news{
	margin-top: .16rem;
	margin-bottom: .16rem;
}
section.trip_news .trip_news_headline{
	display: -webkit-box;
	-webkit-box-align: center;
	/*padding: 0.13333rem 0.26667rem .13333rem 0;	*/
	display: flex;
}
section.trip_news .trip_news_headline header.headline_img_wrap{
	width: 2.13333rem;
	height: 1.333333rem;
	box-sizing: border-box;
	flex: 2;
}
section.trip_news .trip_news_headline header.headline_img_wrap .headline_img{
	background-image: url('../images/fiybig/toutiao.webp');
	height: 100%;
	width: 100%;
	background-size: 2.133333rem auto;
	background-position: 50%;
	background-repeat: no-repeat;
}
section.trip_news .trip_news_headline .headline_newslist_wrap{
	height: 1.333333rem;
	/*padding-left: 0.32rem;*/
	overflow: hidden;
	-webkit-box-flex: 1;
	box-sizing: border-box;
	position: relative;
	/*width: 100%;*/
	flex: 6;
	
}
section.trip_news .trip_news_headline .headline_newslist_wrap>div{
	height: 100%;
	padding: 0.1rem 0rem;
	font-size: 13px;
	position: absolute;
	left: 0;
	text-align: left;
}
section.trip_news .trip_news_headline .headline_newslist_wrap>div>div{
	margin-top:6px;
}
section.trip_news .trip_news_headline .headline_newslist_wrap>div>div>b{
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
	background: orange;
	margin-right: 5px;
}

















/*section.trip_news .trip_news_headline .headline_newslist_wrap .headline_newslist{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
section.trip_news .trip_news_headline .headline_newslist_wrap .headline_newslist ul{
	width: 100%;
	height: 8.333333333rem;
	
}
section.trip_news .trip_news_headline .headline_newslist_wrap .headline_newslist ul li{
	font-size:0.333333333rem;
	height: 1.333333rem;
	color: #666;
}
section.trip_news .trip_news_headline .headline_newslist_wrap .headline_newslist ul li p{
	margin: 0.2rem 0;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}
section.trip_news .trip_news_headline .headline_newslist_wrap .headline_newslist ul li p b{
	width: 0.2rem;
	height: 0.2rem;
	background: #ff5038;
	margin-right: 0.138888888rem;
	border-radius: 50%;
	display: inline-block;
}*/




/*section.trip_news .trip_news_headline .headline_newslist_wrap .headline_newslist ul li p span{
	
}*/
/*旅游头条结束*/


/*飞猪特卖开始*/
section.channel{
	padding: 0.32rem;
	background: #FFFFFF;
}
section.channel ul li{
	float: left;
	margin-left: 0.16rem;
	width: 2.21333rem;
	height: 3.41333rem;
	padding: 0.16rem;
	box-sizing: border-box;
	background: #fbfbfb;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
section.channel ul li:nth-of-type(1){
	width: 4.6rem;
	margin-left: 0;
}
section.channel ul li:nth-of-type(1) div.bg1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url('../images/fiybig/temai.png');
	z-index: 6;
}
section.channel ul li:nth-of-type(1) div.bg2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url('../images/fiybig/bg2.webp');
	z-index: 5;
}
section.channel ul li:nth-of-type(1) div.title{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;
	margin-top: 1.2rem;
	width: 3.25333rem;
	color: #FFFFFF;
}
section.channel ul li:nth-of-type(1) div.title p{
	line-height: 0.48rem;
	height: 0.96rem;
	font-size: 0.32rem;
	padding-left: 0.16rem;
}
section.channel ul li:nth-of-type(1) div.title span{
	margin-top: 0.2rem;
	font-size: .29333rem;
	line-height: 0.4rem;
	height: 0.4rem;
	padding: 0.12rem .16rem;
	display: inline-block;
	background-color: #ff5000;
	border-radius: 0 0 0.333333333rem 0;
}




section.channel ul li:nth-of-type(2) div.bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url('../images/fiybig/tejiajipiao.webp');
	z-index: 6;
}
section.channel ul li:nth-of-type(2) div.title{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;
	margin-top: 1.2rem;
	width: 2.21333rem;
	color: #FFFFFF;
}
section.channel ul li:nth-of-type(2) div.title p{
	line-height: 0.48rem;
	height: 0.96rem;
	font-size: 0.32rem;
	padding-left: 0.16rem;
	color: #666;
}
section.channel ul li:nth-of-type(2) div.title span{
	margin-top: 0.2rem;
	font-size: .29333rem;
	line-height: 0.4rem;
	height: 0.4rem;
	padding: 0.12rem .16rem;
	display: inline-block;
	background-color: #ff5000;
	border-radius: 0 0 0.333333333rem 0;
}



section.channel ul li:nth-of-type(3) div.bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url('../images/fiybig/tejiajipiao.webp');
	z-index: 6;
}
section.channel ul li:nth-of-type(3) div.title{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;
	margin-top: 1.2rem;
	width: 2.21333rem;
	color: #FFFFFF;
}
section.channel ul li:nth-of-type(3) div.title p{
	line-height: 0.48rem;
	height: 0.96rem;
	font-size: 0.32rem;
	padding-left: 0.16rem;
	color: #666;
}
section.channel ul li:nth-of-type(3) div.title span{
	margin-top: 0.2rem;
	font-size: .29333rem;
	line-height: 0.4rem;
	height: 0.4rem;
	padding: 0.12rem .16rem;
	display: inline-block;
	background-color: #ff5000;
	border-radius: 0 0 0.333333333rem 0;
}
/*飞猪特卖结束*/



/*周末好去处开始*/
section.tap_banner{
	height: 1.04rem;
	width: 100%;
	background-color: #FFFFFF;
}
section.tap_banner header{
	display: -webkit-box;
	-webkit-box-align: center;
	position: relative;
	height: 1.04rem;
	color: #3D3D3D;
	background: #FFFFFF;
}
section.tap_banner header div.tap_title img{
	height: 1.04rem;
	width: auto;
	position: relative;
}
/*section.tap_banner header div.tap_title span{
	display: -webkit-box;
	-webkit-box-align: center;
	color: #3D3D3D;
	padding: 0 .32rem;
	font-size: 0.34667rem;
	line-height: 0.49333rem;
	position: relative;
	float: right;
	display: block;
}
section.tap_banner header em{
	display: block;
	line-height: 0.49333rem;
	font-style: normal;
	
}
section.tap_banner header em:after{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	background: url('../images/fiybig/xiangyou.png');
	background-size: 0.32rem 0.32rem;
	height: 0.32rem;
	width: 0.32rem;
}*/

section div.container{
	background-color: #FFFFFF;
	padding: 0 .32rem;
	height: 3.413333rem;
	padding-bottom: 0.16rem;
}
section div.container_left{
	width: 3.173333rem;
	float: left;
	height: 3.413333rem;
	background-color: #f2f3f4;
}
section div.container_left .tuijian{
	height: 0.64rem;
	background-color: #FFC900;
	padding: 0 0.16rem;
	display: inline-block;
	line-height: 0.64rem;
	color: #3D3D3D;
	font-size: 0.32rem;
}
section div.container_left .title{
	margin-top: 0.16rem;
	font-size: 0.4rem;
	height: 1.68rem;
	color: #3D3D3D;
}
section div.container_left .title span{
	line-height: 0.56rem;
	word-break: break-all;
	overflow: hidden;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
}
section div.container_left .line{
	margin-top: 0.16rem;
	width: 0.8rem;
	height: 1px;
	background-color: #FFC900;
	border-radius: 0.16rem;
}
section div.container_left .exper{
	margin-top: 0.16rem;
	font-size: 0.333333333rem;
	height: 0.44rem;
	line-height: 0.44rem;
	color: #A5A5A5;
}
section div.container_right{
	width: 6.18667rem;
	float: left;
	height: 3.413333rem;
	
}
section div.container_right img{
	width: 100%;
	height: 100%;
}

section.list_trip{
	width: 100%;
	background: #FFFFFF;
	padding: 0 .32rem;
	overflow: hidden;
	margin: 0.16rem 0;
	box-sizing: border-box;
	
}
section.list_trip ul{
	width: 100%;
	box-sizing: border-box;
}
section.list_trip ul li{
	float: left;
	width: 33.333333%;
	padding: 0 0.05rem;
}
section.list_trip ul li:nth-child(3){
	padding-right: 0;
}
section.list_trip ul li img{
	width: 100%;
	height: auto;
}
section.list_trip ul li .trip_img{
	position: relative;
}
section.list_trip ul li .trip_img span{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	color: #FFFFFF;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	padding: 0 0.277777777rem;
}
section.list_trip ul li .title{
	padding-right: 0.4rem;
	font-size:0.333333333rem;
	margin-top: 0.16rem;
	line-height:0.555555555rem;
	color: #333333;
}
/*周末好去处结束*/


/*猜你喜欢开始*/
section.like{
	height: 1.04rem;
	width: 100%;
	background-color: #FFFFFF;
	
}
section.like header{
	display: -webkit-box;
	-webkit-box-align: center;
	position: relative;
	height: 1.04rem;
	color: #3D3D3D;
	background: #FFFFFF;
}
section.like header div.tap_title img{
	height: 1.04rem;
	width: auto;
	position: relative;
}
section.like_list_items ul{
	width: 100%;
	float: left;
	padding: 0 .32rem;
	background: #FFFFFF;
}
section.like_list_items ul li{
	float: right;
	width: 49%;
	background: #FFFFFF;
	position: relative;
	padding-bottom: 0.32rem;
}
section.like_list_items ul li:nth-of-type(2n+1){
	float: left;
}

section.like_list_items ul li a{
	width: 100%;
	height: 100%;
}
section.like_list_items ul li a .list_img{
	width: 100%;
	height: 100%;
	position: relative;
}
section.like_list_items ul li a .list_img img{
	width: 100%;
	height: auto;
}
section.like_list_items ul li a .list_img span{
	display: block;
	color: #fff;
	position: absolute;
	top: 0.111111111rem;
	left: 0.111111111rem;
	font-size: 0.32rem;
	height: .64rem;
	line-height: 0.64rem;
	border-radius: 1.333333rem 0 1.333333rem 1.3333333rem;
	padding: 0 .24rem;
	background-color: rgba(0,0,0,0.6);
	
}
section.like_list_items ul li a .list_info_wrap{
	padding: 0.24rem .16rem 0 0;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	height: 2rem;
}

section.like_list_items ul li a .list_info_wrap h3{
	color: #333;
	font-size: 0.34667rem;
	line-height: 0.533333rem;
	height: 1.066667rem;
	font-weight: 400;
	padding: 0 0.16rem;
	display:-webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient:vertical;
	word-break: break-all;
	overflow: hidden;
}
section.like_list_items ul li a .list_info_wrap .list_info{
	margin-top: .10667rem;
	/*padding: 0 0.32rem .24rem .16rem;*/
}
section.like_list_items ul li a .list_info_wrap .list_info .price{
	color: #FF5000;
	line-height: 1;
	font-size: 0.48rem;
	vertical-align: bottom;
	float: left;
	display: inline-block;
}
/*section.like_list_items ul li a .list_info_wrap .list_info .price strong{
	margin-right: 0rem;
}*/
section.like_list_items ul li a .list_info_wrap .list_info .al_sale{
	display: inline-block;
	float: right;
	font-size: 0.333333333rem;
	line-height: 0.444444444rem;
	vertical-align: bottom;
	color: #a5a5a5;
}
/*猜你喜欢结束*/

footer#footer{
	width: 100%;
}
footer#footer a{
	width: 100%;
}
footer#footer img{
	width: 100%;
}

.go_up{
	z-index: 99999;
	position: fixed;
	bottom: 15%;
	right: 6%;
	width: 1.333333333rem;
	height: 1.333333333rem;
	border-radius: 50%;
	background-image: url('../images/fiybig/dingbu.png');
	background-size: 100% 100%;
	background-color: #FFFFFF;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	opacity: 0;
}
