/*html{
	font-size: 96px !important;
}*/
body,html{
	font-family:"PingFang SC","Heiti SC","SF UI Text","Helvetica Neue",Roboto,"Droid Sans Fallback",arial,sans-serif;
	background: #f5f5f5;
}
/*.jh_meau{
	bottom:0;
	left: 0;
	top: -2.6rem;
	right: 0;
	padding-top: 4rem;
	padding-bottom: 1rem;
	background: rgba(0,0,0,0.85);
	transform: translate(0, -100%);
	-webkit-transform: translate(0, -100%);
	-webkit-transition:-webkit-transform .4s ease-in;
	transition:transform .4s ease-in;
	z-index: 99999;
}

.jh_meau .cats,.jh_meau .exts{
	box-sizing: border-box;
	padding: 0.1rem;
	font-size: .38rem;
}
.jh_meau .cats a{
	width: 25%;
	text-align: center;
	float: left;
	border: 0;
	background: none;
	color: #FFFFFF;
	font-size: .38rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1rem;
	line-height: 1rem;
	display: block;
}
.jh_meau .exts{
	margin-top: 5.5rem;
}
.jh_meau .exts a{
	width: 33.333333333%;
	height:1.2rem;
	float: left;
	color: #FFFFFF;
	text-align: center;
	display: block;
	box-sizing: border-box;
}
.jh_meau .exts a em{
	padding: 0.2rem 0.5rem;
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 0.3rem;
	font-style: normal;
	display: inline-block;
	min-width: 1.5rem;
}
.jh_close{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2rem;
	width:1.333333rem;
	height: 1.333333rem;
	line-height: 1.333333rem;
	text-align: center;
	background: rgba(0,0,0,0);
}
.jh_close em{
	font-style: normal;
	font-size: 1rem;
	text-align: center;
	color: #FFFFFF;
}*/

/*jh_navbar开始*/
.jh_navbar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 1.2rem;
	background: #e61414;
	box-sizing: border-box;
	padding-left:2rem;
	padding-right: 1.2rem;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
	z-index: 10000;
}
.jh_navbar .jh_nav_all{
	position: absolute;
	left: 0;
	width:2rem;
	height: 1.2rem;
	padding: 0;
	background: inherit;
	color: #FFFFFF;
	text-align: center;
	font-weight: 900;
	font-family: "微软雅黑";
	font-size: 0.5rem;
	line-height: 1.2rem;
	letter-spacing: 0.05rem;
}
.jh_navwp{
	white-space: nowrap;
	overflow: auto;
	/*overflow: hidden;*/
}
.jh_navwp .jh_navcut{
	display: inline-block;
}
.jh_navwp .jh_navcut a{
	display: inline-block;
	line-height: 1.2rem;
	font-size:0.4rem;
	height: 1.2rem;
	padding-left: 0.18rem;
	padding-right: 0.18rem;
	position: relative;
	border: 0;
	background: none;
	color: #FFFFFF;
}
.jh_navwp .jh_navcut a:after{
	content: "";
	position: absolute;
	bottom: 0;
	/*left: 0.05rem;
	right: 0.05rem;*/
	left: 0.05rem;
	right: 0.05rem;
	height: 0.05rem;
	-wekkit-transform:scale(0);
	transform: scale(0);
	background: #fff;
	-webkit-transition:-webkit-transform .4s ease;
	transition:transform .4s ease;
}
.jh_drop{
	position: absolute;
	right: -0.138888888rem;
	top: 0.083333333rem;
	width: 1.2rem;
	height: 1.2rem;	
}
.jh_drop_png{
	display: block;
	width: 1.2rem;
	height: 1.2rem;	
	background-image: url('../images/JuHuaSuan/xoa.png');
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 0 2px;
	/*transform: rotate(180deg);
	-webkit-transform:rotate(180deg);*/
	transition: transform .4s linear;
	-webkit-transition:-webkit-transform .4s linear;
}
/*jh_navbar结束*/


#tp{
	width: 100%;
	height: 100%;
	padding-top: 1.2rem;
}


/*jh_banner开始*/
.jh_banner{
	width:100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.jh_banner ul.ImgUl{
	width: 400%;
}
.jh_banner ul.ImgUl li{
	width: 25%;
	float: left;
}
.jh_banner ul.ImgUl li a{
	width: 100%;
	height: 100%;
}
.jh_banner ul.ImgUl li a img{
	width: 100%;
	height: 100%;
}
.jh_banner ul.points{
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
}
.jh_banner ul.points li{
	width: 0.222222222rem;
	height: 0.222222222rem;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
	background: transparent;
	float: left;
	margin: 0 0.055555555rem;
}
.jh_banner ul.points li.now{
	background: #FFFFFF;
}
/*jh_banner结束*/

/*nav开始*/
nav#jh_nav{
	width: 100%;
	padding: 0.222222222rem 0;
	box-sizing: border-box;
	background: #FFFFFF;
}
nav#jh_nav a{
	display: inline-block;
	float: left;
	width: 25%;
	overflow: hidden;
}
nav#jh_nav a img{
	display: block;
	width: 100%;
	height: 100%;
}
/*nav结束*/