html{
	font-size: 36px;
}
/*[class^=icon]{
	background-image: url('../images/Tmall/icon_tmall.png') ;
	background-repeat:no-repeat;	
	/*background-size:200px 200px;
}*/
html,body{
	height: 100%;
	width: 100%;
}
header#header{
	width: 100%;
	margin: 0 auto;
	padding: 0.277777777rem 0.4rem 0.138888888rem;
	background: #FF0036;
	/*position: fixed;*/
}
header .Tmall_logo{
	width: 100%;
	position: relative;
	margin-bottom: 0.166666666rem;
}
header .Tmall_logo .icon_list{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0.833333333rem;
	height: 0.833333333rem;
	/*background: orange;*/
	background-image: url('../images/Tmall/icon_tmall.png');
	background-size: cover;
	background-position: 0 0.055555555rem;
	background-repeat: no-repeat;
}
header .Tmall_logo .logo{
	display: block;
	width:2.777777777rem;
	height: 0.833333333rem;
	background-image: url('../images/Tmall/logo.png');
	background-position: center center;
	background-size: 200%;
	background-repeat: no-repeat;
	margin: 0 auto;
}
header .Tmall_logo .login{
	position: absolute;
	right: 0;
	bottom: 0.111111111rem;
	font-size: 0.361111111rem;
	color: #fff;
	font-weight: normal;
}
header form{
	width: 100%;
	margin:  0 auto;
	position: relative;
}
header form input{
	width: 100%;
	height: 0.833333333rem;
	padding: 0 1.111111111rem;
	line-height: 0.833333333rem;
	color: #999;
}
header form span.icon_research{
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0.833333333rem;
	height: 0.833333333rem;
	background-image: url('../images/Tmall/icon_tmall.png');
	background-size: cover;
	background-position:-1.944444444rem 0.0555556rem;
	background-repeat: no-repeat;
}


/*nav开始*/
nav#Tmall_nav{
	width: 100%;
	margin: 0.277777777rem auto;
	padding: 0 0.277777777rem;
}
nav#Tmall_nav ul{
	width: 100%;
}
nav#Tmall_nav ul li{
	float: left;
	text-align: center;
	width: 20%;
	
}
nav#Tmall_nav ul li a{
	width: 20%;
	margin: 0 auto;
}
nav#Tmall_nav ul li img{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 0.166666666rem;
	
}
/*nav结束*/

/*banner开始*/
div.banner_wrap{
	width: 100%;
	padding: 0 15px;
}
div.banner{
	width: 100%;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 0.277777rem 0.055555rem #ccc;
}
div.banner ul.ImgUl{
	width: 1000%;
	transform:translateX(-10%);
	-webkit-transform: translateX(-10%);
	padding: 0;
}
div.banner ul.ImgUl li{
	width: 10%;
	float: left;
	padding: 0;
}
div.banner ul.ImgUl li img{
	width: 100%;
	height: 100%;	
}
div.banner ul.points{
	position: absolute;
	bottom: .2133333333rem;
	left: 50%;
	text-align: center;
	transform: translateX(-50%);
}
div.banner ul.points li{
	width: .3733333333rem;
	height: .0533333333rem;
	display: inline-block;
	background: rgba(255,255,255,0.5);
	margin-left: .0533333333rem;
}
div.banner ul.points li.now{
	background: rgba(255,255,255,1);
}
/*banner结束*/

/*.shopmarket{
	width: 100%;
	padding: 0 0.277777777rem;
	margin:0.277777rem auto;
}
.shopmarket h3{
	display: block;
	height: 0.76rem;
	width:100%;
	line-height: 0.76rem;
	color: #373737;
	font-size: .3733333333rem;
	font-family: PingFangSC-Medium;
}
.market{
	width: 100%;
	box-shadow: 0 0 0.277777rem 0.055555rem #CCCCCC;
}
.market .sectionleft{
	width: 40%;
	
}
.market .sectionleft img{
	width: 100%;
	margin-top: -4px;
}
.market .sectionright{
	width: 60%;
}
.market .sectionright .right_one{
	width: 50%;
	padding: 0.416666rem;
	box-sizing: border-box;
}
.market .sectionright .right_one p{
	font-size: 0.32rem;
	color: #505050;
	line-height: 0.638rem;
	padding-top: .17333333333rem;

}
.market .sectionright .right_two{
	width: 50%;
	padding: 0.416666rem;

}
.market .sectionright .right_two img{
	width: 100%;
}
.market .right_three{
	width: 50%;
	text-align: center;
	padding: 0.416666rem;
}
.market .right_three img{
	width: 50%;
	margin:  0 auto;
	
}
.market .right_four{
	width: 50%;
	text-align: center;
	padding: 0.416666rem;
	box-sizing: border-box;
}
.market .right_four img{
	width: 50%;
	margin:  0 auto;
	
}

*/
.shopma{
	height: 6.0933333333rem;
	width: 100%;
	padding: 0 0.4rem;
}
.shopma .titleh3{
	height: 0.76rem;
	width: 100%;
	line-height: 0.76rem;
}
.shopma .titleh3 h3{
	font-family: PingFangSC-Medium;
	font-size: .3733333333rem;
	color: #373737;
	float: left;
}
.maketbody{
	height: 5.33333333333rem;
	width: 100%;
	position: relative;	

}
.maketbody .left_body{
	width: 3.8666666667rem;
	height: 5.4133333333rem;
	float: left;
	margin-top: -.1324933333rem;
	background:  0 0;
}
.maketbody .right_pic{
	width: 5.3333333333rem;
	height: 5.3333333333rem;
	float: left;
}
.maketbody .right_pic .top_pic{
	width: 100%;
	height: 2.44rem;
}
.maketbody .right_pic .top_pic .hot_left{
	float: left;
	width: 2.66666666667rem;
	height: 100%;
}
.maketbody .right_pic .top_pic .hot_left img{
	display: block;
	height: 0.4rem;
	padding-top: .34666666667rem;
	background: 0 0;
	margin-left: .4rem;
}
.maketbody .right_pic .top_pic .hot_left .title{
	font-family: PingFangSC-Regular;
	font-size: 0.32rem;
	color: #505050;
	line-height: .4rem;
	padding-top: .2rem;
	margin-left: 0.4rem;
}
.maketbody .right_pic .top_pic .hot_left .benefit{
	font-family: PingFangSC-Regular;
	font-size: 0.32rem;
	color: #505050;
	line-height: .4rem;
	padding-top: .17333333333rem;
	margin-left: 0.4rem;
}
.maketbody .right_pic .top_pic .hot_left_left{
	width: 1.97333333333rem;
	margin: .3466666667rem;
	display: block;
	border: 0;
	float: left;
}
.maketbody .right_pic .bottom_pic{
	height: 2.88rem;
	width: 100%;
}
.maketbody .right_pic .bottom_pic .bottom_pic_l{
	width: 2.6666666667rem;
	float: left;
}
.maketbody .right_pic .bottom_pic .bottom_pic_l .title_img{
	display: block;
	height: 0.4rem;
	padding-top: .3466666667rem;
	background:  0 0;
	margin-left: 0.4rem;
}
.maketbody .right_pic .bottom_pic .bottom_pic_l .benefit{
	font-family: PingFangSC-Regular;
	font-size: 0.32rem;
	color: #505050;
	line-height: .4rem;
	padding-top: .17333333333rem;
	margin-left: 0.4rem;
}
.maketbody .right_pic .bottom_pic .bottom_pic_l .main_img{
	height: 1.1333333333rem;
	width: 1.3333333333rem;
	display: block;
	margin: auto;
	padding-top: .1066666667rem;
}
.maketbody .right_pic .bottom_pic .bottom_pic_r{
	width: 2.6666666667rem;
	float: left;
}
.maketbody .right_pic .bottom_pic .bottom_pic_r .title_img{
	display: block;
	height: 0.4rem;
	padding-top: .3466666667rem;
	background:  0 0;
	margin-left: 0.4rem;
}
.maketbody .right_pic .bottom_pic .bottom_pic_r .benefit{
	font-family: PingFangSC-Regular;
	font-size: 0.32rem;
	color: #505050;
	line-height: .4rem;
	padding-top: .17333333333rem;
	margin-left: 0.4rem;
}
.maketbody .right_pic .bottom_pic .bottom_pic_r .main_img{
	height: 1.1333333333rem;
	width: 1.3333333333rem;
	display: block;
	margin: auto;
	padding-top: .1066666667rem;
}


/*list开始*/
.container-multiColumn{
	width: 100%;
/*	padding: 0 0.277777777rem;*/
}
.container-multiColumn-class{
	padding:0rem 0.4rem 0.4rem 0.4rem;
	margin: 0.4rem 0rem 0rem 0rem;
	background: #FFFFFF;
}
.container-multiColumn-line{
	width: 100%;
}
.recommend-item{
	width: 50%;
	text-align: center;
	float: left;
}
.recommend-item-class{
	width: 4.3733333333rem;
	height: 8.48rem;
	text-align: left;
	border: .0275066667rem solid #EDEDED;
	background-size: 4.3733333333rem 8.8rem;
	position: relative;
	margin: auto auto 0.4rem;
	/*margin:0.3333333333333333rem 0rem 0rem 0rem;*/
}
.recommend-item-class .logo_img{
	width: 1.3333333333rem;
	height: .6666666667rem;
	float: left;
	margin: .1333333333rem;
	position: absolute;
	z-index: 9;
	border: 0;
	/*background: rgba(0,0,0,0.03);*/
	
}
.recommend-item-class .logo_img img{
	border: 0;
}
.recommend-item-class .main_area{
	height: 7.3066666667rem;
	width: 100%;
}
.recommend-item-class .main_area img{
	background: rgba(0,0,0,0.03);
	padding: 0.4rem;
	width: 3.6rem!important;
	height: 3.6rem!important;
}
.recommend-item-class .labels_area{
	position: absolute;
	height: 18px;
	top: 4.1333333333rem;
	margin-left: .3466666667rem;
	overflow: hidden;
}
.recommend-item-class .title{
	padding: .2666666667rem .3333333333rem 0;
	font-family: PingFangSC-Regular;
	font-size: .3733333333rem;
	color: #3e3e3e;
	overflow: hidden;
	height: 1.12rem;
	line-height: .46rem;
}
.recommend-item-class .rights_area{
	margin: .16rem .3466666667rem 0;
	height: .4533333333rem;
}
.recommend-item-class .rights_area span.right{
	background-color: #fad3d5;
	/*padding: 0 0.08rem;*/
	margin-right: 0.16rem;
	font-family: PingFangSC-Regular;
	font-size: .2666666667rem;
	color: #ff3b44;
	line-height: .2666666667rem;
}
.recommend-item-class .buy_line{
	height: .5066666667rem;
	padding: .2266666667rem .2666666667rem .1866666667rem .3466666667rem;
}
.recommend-item-class .buy_line .price{
	font-family: PingFangSC-Semibold;
	font-size: .4266666667rem;
	color: #231f1f;
	line-height:.4266666667rem;
	float: left;
}
.recommend-item-class .buy_line .shop-car{
	width: .5066666667rem;
	height: .5066666667rem;
	background: url('../images/Tmall/shopcar.png');
	background-size:contain;
	float: right;
	margin:  auto;
}
.recommend-item-class .remark_border{
	border-top: .0275066667rem dashed #DCDCDC;
	padding: .16rem .2933333333rem;
	background-size: cover;
	height: .8533333333rem;
}
.recommend-item-class .remark_border .remark{
	height: .8533333333rem;
	overflow: hidden;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	line-height: .4266666667rem;
	
	
}
.recommend-item-class .remark_border .remark span.remark_type{
	color: #2683ff;
	
}
.recommend-item-class .remark_border .remark span.remark_text{
	font-family: PingFangSC-Regular;
	font-size: 0.32rem;
	color: #444;
	letter-spacing: 0;
	word-break: break-all;
}
/*list结束*/



/*footer开始*/
.go_tmall{
	width:100%;
}
.go_tmall img{
	width: 100%;
}
/*footer结束*/

.mask{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top:0;
	left:0;
	z-index: 12;
}
.mask img{
	width:80%;
/*	height: 300px;*/
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -40%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	z-index: 15;
}
.mask .cls_ban{
	background: url('../images/Tmall/point.png');
	width: 30px;
	height: 30px;
	position:absolute;
	top:48%;
	right:3%;
	margin-top: -40%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	z-index: 15;
}
.mask .cls_ban a.cls_x{
	display: block;
	line-height: 30px;
	text-align: center;
	font-weight:900;
	color: #FFFFFF;
	font-size:24px;
	font-family: PingFangSC-Regular;
}