html{
	font-size: 36px;
}
/*[class^=icon]{
	background-image: url('../images/Tmall/icon_tmall.png') ;
	background-repeat:no-repeat;	
	/*background-size:200px 200px;
}*/
html,body{
	height: 100%;
	width: 100%;
}
header#header{
	width: 100%;
	margin: 0 auto;
	padding: 0.277777777rem 0.277777777rem 0.138888888rem;
	background: #FF0036;
}
header .Tmall_logo{
	width: 100%;
	position: relative;
	margin-bottom: 0.166666666rem;
}
header .Tmall_logo .icon_list{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0.833333333rem;
	height: 0.833333333rem;
	/*background: orange;*/
	background-image: url('../images/Tmall/icon_tmall.png');
	background-size: cover;
	background-position: 0 0.055555555rem;
	background-repeat: no-repeat;
}
header .Tmall_logo .logo{
	display: block;
	width:2.777777777rem;
	height: 0.833333333rem;
	background-image: url('../images/Tmall/logo.png');
	background-position: center center;
	background-size: 200%;
	background-repeat: no-repeat;
	margin: 0 auto;
}
header .Tmall_logo .login{
	position: absolute;
	right: 0;
	bottom: 0.111111111rem;
	font-size: 0.361111111rem;
	color: #fff;
	font-weight: normal;
}
header form{
	width: 100%;
	margin:  0 auto;
	position: relative;
}
header form input{
	width: 100%;
	height: 0.833333333rem;
	padding: 0 1.111111111rem;
	line-height: 0.833333333rem;
	color: #999;
}
header form span.icon_research{
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0.833333333rem;
	height: 0.833333333rem;
	background-image: url('../images/Tmall/icon_tmall.png');
	background-size: cover;
	background-position:-1.944444444rem 0.0555556rem;
	background-repeat: no-repeat;
}


/*nav开始*/
nav#Tmall_nav{
	width: 100%;
	margin: 0.277777777rem auto;
	padding: 0 0.277777777rem;
}
nav#Tmall_nav ul{
	width: 100%;
}
nav#Tmall_nav ul li{
	float: left;
	text-align: center;
	width: 20%;
	
}
nav#Tmall_nav ul li a{
	width: 20%;
	margin: 0 auto;
}
nav#Tmall_nav ul li img{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 0.166666666rem;
	
}
/*nav结束*/

/*banner开始*/
div.banner{
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	/*box-shadow: 0 0 0.277777rem 0.055555rem #ccc;*/
}
div.banner ul.ImgUl{
	width: 800%;
	
}
div.banner ul.ImgUl li{
	width: 12.5%;
	float: left;
	overflow: hidden;
	padding: 0 0.277777777rem;
	box-shadow: 0 0 0.277777rem 0.055555rem #ccc;
}
div.banner ul.ImgUl li img{
	width: 100%;
	height: 100%;	
}
div.banner ul.points{
	position: absolute;
	bottom: .2133333333rem;
	left: 50%;
	text-align: center;
	transform: translateX(-50%);
}
div.banner ul.points li{
	width: .3733333333rem;
	height: .0533333333rem;
	display: inline-block;
	background: rgba(255,255,255,0.5);
	margin-left: .0533333333rem;
}
div.banner ul.points li.now{
	background: rgba(255,255,255,1);
}
/*banner结束*/

.shopmarket{
	width: 100%;
	padding: 0 0.277777777rem;
	margin:0.277777rem auto;
}
.shopmarket h3{
	display: block;
	height: 0.76rem;
	width:100%;
	line-height: 0.76rem;
	color: #373737;
	/*float: left;*/
	font-size: .3733333333rem;
	font-family: PingFangSC-Medium;
}
.market{
	width: 100%;
	box-shadow: 0 0 0.277777rem 0.055555rem #CCCCCC;
}
.market .sectionleft{
	width: 40%;
	
}
.market .sectionleft img{
	width: 100%;
	margin-top: -4px;
}
.market .sectionright{
	width: 60%;
}
.market .sectionright .right_one{
	width: 50%;
/*	box-shadow: 0 0 10px 1px #CCCCCC;*/
	/*border: 1px solid #ccc;*/
	padding: 0.416666rem;
	box-sizing: border-box;
}
.market .sectionright .right_one p{
/*	margin:0.138888rem auto;*/
	font-size: 0.32rem;
	color: #505050;
	line-height: 0.638rem;
	padding-top: .17333333333rem;

}
.market .sectionright .right_two{
	width: 50%;
	padding: 0.416666rem;

}
.market .sectionright .right_two img{
	width: 100%;
}
.market .right_three{
	width: 50%;
	text-align: center;
	padding: 0.416666rem;
}
.market .right_three img{
	width: 50%;
	margin:  0 auto;
	
}
.market .right_four{
	width: 50%;
	text-align: center;
	padding: 0.416666rem;
	box-sizing: border-box;
}
.market .right_four img{
	width: 50%;
	margin:  0 auto;
	
}
